@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Maven+Pro:wght@400;700;900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Maven+Pro:wght@400;700;900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Maven+Pro:wght@400;700;900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Maven+Pro:wght@400;700;900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Maven+Pro:wght@400;700;900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Maven+Pro:wght@400;700;900&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

html[data-theme="light"] {
  --bg: rgb(255, 255, 255);
  --bg-panel: #fafafa;
  --color-headings: #e9709c;
  --color-text: #4b4949;
}

html[data-theme="dark"] {
  --bg:  #4b4949;
  --bg-panel:  #f382ac;
  --color-headings: rgb(250, 225, 225);
  --color-text: #fafafa;
}

body {
  background-color: var(--bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: absolute;
  background-color: var(--bg-panel);
  margin: 5rem;
  padding: 5rem;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% auto;
      grid-template-columns: 80% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "title toggle" "content content";
}

.container h1 {
  color: var(--color-headings);
}

.container p {
  color: var(--color-text);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 1rem;
}

/* Switch 1 Specific Styles Start */
.switch_1 {
  font-size: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.5em;
  height: 1em;
  background: var(--bg);
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.switch_1:checked {
  background: var(--color-headings);
}

.switch_1:after {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: var(--bg-panel);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
  left: 0;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.switch_1:checked:after {
  left: calc(100% - 1em);
}

html.transition * {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.app__cursor, .cursor-follower {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #df798a;
  -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background: radial-gradient(rgba(255, 255, 255, 0.5), #df798a);
  -webkit-transform-origin: center;
          transform-origin: center;
  pointer-events: none;
  z-index: 9999;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.cursor-follower {
  width: 70px;
  height: 70px;
}

.cursor-grow, .grow-small {
  width: 160px;
  height: 160px;
  background-color: blue;
  mix-blend-mode: difference;
  -webkit-filter: contrast(120%) brightness(120%);
          filter: contrast(120%) brightness(120%);
  border: none;
}

.grow-small {
  width: 50px;
  height: 50px;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  padding: 1rem 1.5rem;
}

header--scrolled {
  height: 40px;
}

@media (min-width: 768px) {
  header {
    padding: 1.5rem 2rem;
  }
}

header #icon {
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

header #icon a {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-transform: capitalize;
  color: #df798a;
  text-decoration: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav .navbar {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .navbar li {
  padding: 1em 0;
}

header nav .navbar a {
  text-decoration: none;
  color: #df798a;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
}

header nav .nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  width: 30px;
}

header nav .nav-toggle .hamburger {
  height: 5px;
  width: auto;
  background-color: #df798a;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .nav-toggle:hover {
  cursor: pointer;
}

header nav .nav-toggle:hover .hamburger {
  background-color: #eeb7c0;
}

header nav .toggled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  margin-top: 2rem;
}

header nav .toggled-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 1200px) {
  header nav .nav-toggle {
    display: none;
  }
  header nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  header nav .navbar li {
    padding: 0 1em;
  }
}

#herosection {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
}

@media (min-width: 768px) {
  #herosection {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#herosection .herotext-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 25ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #df798a;
  font-size: 1.2rem;
  position: absolute;
  left: 10%;
  bottom: 15%;
}

@media (min-width: 768px) {
  #herosection .herotext-container {
    left: 15%;
  }
}

@media (min-width: 1200px) {
  #herosection .herotext-container {
    height: 20ch;
    bottom: 10%;
  }
}

#herosection .herotext-container .hero-hi {
  font-size: 1.2rem;
}

#herosection .herotext-container .hero-description {
  font-size: 1.2rem;
}

#herosection .herotext-container .hero-contactbtn {
  width: 70%;
  background-color: #df798a;
  border: none;
  border-radius: 2rem;
  padding: .5rem 1.5rem;
}

#herosection .herotext-container .hero-contactbtn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

#herosection .herotext-container .social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-top: 1rem;
}

#herosection .herotext-container .social-icons i {
  font-weight: lighter;
  color: #df798a;
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  #herosection .herotext-container {
    font-size: 3rem;
  }
  #herosection .herotext-container .hero-hi {
    font-size: 2rem;
  }
  #herosection .herotext-container .hero-description {
    font-size: 2.5rem;
  }
  #herosection .herotext-container .hero-contactbtn a {
    font-size: 2rem;
  }
  #herosection .herotext-container .social-icons {
    margin-top: 0;
    font-size: 2rem;
  }
}

#work {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.selected-works {
  position: absolute;
  top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40vh;
}

.swork-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  left: 10%;
  height: 32ch;
  width: 80%;
}

@media (min-width: 768px) {
  .swork-container {
    left: 15%;
    width: 55%;
    height: 27ch;
  }
}

.swork-container .swork-title-wrapper {
  text-transform: capitalize;
}

.swork-container .swork-title-wrapper .work-type {
  color: #df798a;
}

.swork-container .swork-title-wrapper .work-title {
  font-size: 1.5rem;
}

.swork-container .swork-description {
  width: 90%;
}

@media (min-width: 768px) {
  .swork-container .swork-description {
    width: 75%;
  }
}

.swork-container .work-tag {
  font-weight: bold;
  color: #df798a;
}

.swork-container .swork-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  left: 0;
  bottom: -10%;
}

.swork-container .swork-links .work-link {
  text-decoration: none;
  color: #df798a;
}

@media (min-width: 768px) {
  .swork-container .swork-links {
    right: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 20%;
    gap: 0rem;
  }
}

#contact {
  color: #df798a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-wrapper .social-icon {
  height: 45px;
  width: 45px;
  background-color: #eeb7c0;
  border-radius: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Comfortaa", cursive;
  font-weight: lighter;
}

section {
  min-height: 100vh;
  width: 100%;
}

.title {
  text-align: center;
  color: #df798a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */