@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Pacifico&display=swap");
#contact {
  color: #df798a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-wrapper .social-icon {
  height: 45px;
  width: 45px;
  background-color: #eeb7c0;
  border-radius: 50%;
}

#work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
  height: 100%;
  width: 100%;
}

#work .work-wrapper {
  padding: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;
  gap: 1rem;
}

#work .work-wrapper .project-box {
  height: 50ch;
  border-radius: 15px;
  background-color: #eeb7c0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: ". . ." ". a ." ". b c";
}

#work .work-wrapper .project-box:hover {
  cursor: pointer;
}

#work .work-wrapper .project-box .subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: #0d968f;
}

#work .work-wrapper .project-box .skill-tag {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 3em;
  font-family: "Comfortaa", cursive;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header #icon {
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

header #icon a {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-transform: capitalize;
  color: #df798a;
  text-decoration: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem 0;
}

header nav .navbar {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-top: 1rem;
}

header nav .navbar li {
  padding: 1em 0;
}

header nav .navbar a {
  text-decoration: none;
  color: #df798a;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
}

header nav .nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  width: 30px;
}

header nav .nav-toggle .hamburger {
  height: 5px;
  width: auto;
  background-color: #df798a;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .nav-toggle:hover {
  cursor: pointer;
}

header nav .nav-toggle:hover .hamburger {
  background-color: #eeb7c0;
}

header nav .toggled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

header nav .toggled-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 800px) {
  header nav .nav-toggle {
    display: none;
  }
  header nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  header nav .navbar li {
    padding: 0 1em;
  }
}

section {
  height: 100vh;
}

.title {
  text-align: center;
  color: #df798a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#landing .intro {
  font-size: 3rem;
  color: #df798a;
  padding: 0 0 10rem 0;
}

@media (min-width: 800px) {
  #landing .intro {
    font-size: 7rem;
  }
}

.contanier footer {
  color: #eeb7c0;
}
/*# sourceMappingURL=style.css.map */