@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Pacifico&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1.5rem;
}

@media (min-width: 768px) {
  header {
    margin: 1.5rem 2rem;
  }
}

header #icon {
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

header #icon a {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-transform: capitalize;
  color: #df798a;
  text-decoration: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav .navbar {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .navbar li {
  padding: 1em 0;
}

header nav .navbar a {
  text-decoration: none;
  color: #df798a;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
}

header nav .nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  width: 30px;
}

header nav .nav-toggle .hamburger {
  height: 5px;
  width: auto;
  background-color: #df798a;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .nav-toggle:hover {
  cursor: pointer;
}

header nav .nav-toggle:hover .hamburger {
  background-color: #eeb7c0;
}

header nav .toggled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  margin-top: 2rem;
}

header nav .toggled-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 1200px) {
  header nav .nav-toggle {
    display: none;
  }
  header nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  header nav .navbar li {
    padding: 0 1em;
  }
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#landing .intro {
  font-size: 1.9rem;
  color: #df798a;
  line-height: 1.5;
  margin: 1rem 1.5rem;
  position: relative;
  bottom: 13%;
}

@media (min-width: 768px) {
  #landing .intro {
    font-size: 3rem;
    margin: 1.5rem 2rem;
  }
}

@media (min-width: 1200px) {
  #landing .intro {
    font-size: 5.5rem;
  }
}

.contanier footer {
  color: #eeb7c0;
}

#work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0rem;
  height: 100%;
  width: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  scroll-behavior: smooth;
  scroll-snap-align: center;
}

#work .work-wrapper {
  padding: 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  gap: 1rem;
}

#work .work-wrapper .project-box {
  min-width: 45%;
  height: 70vh;
  border-radius: 15px;
  padding: 1.5rem;
  background-color: #eeb7c0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 80%;
      grid-template-rows: 80%;
      grid-template-areas: "c c . " "a a ." "e e d";
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#work .work-wrapper .project-box:hover {
  cursor: pointer;
}

#work .work-wrapper .project-box .subtitle,
#work .work-wrapper .project-box .skill-tag {
  text-align: left;
}

#work .work-wrapper .project-box .subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #0d968f;
}

#work .work-wrapper .project-box .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: e;
}

#work .work-wrapper .project-box .skill-tag {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
}

#work .work-wrapper .project-box .links {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#work .work-wrapper .project-box .links .live,
#work .work-wrapper .project-box .links .code {
  text-decoration: none;
  color: #df798a;
}

#work ::-webkit-scrollbar {
  height: 5px;
}

#work ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #f6c3d0;
          box-shadow: inset 0 0 5px #f6c3d0;
  border-radius: 10px;
}

#work ::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, from(#eeb7c0), to(#0d968f));
  background: linear-gradient(to right, #eeb7c0, #0d968f);
  border-radius: 10px;
}

#work ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#contact {
  color: #df798a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-wrapper .social-icon {
  height: 45px;
  width: 45px;
  background-color: #eeb7c0;
  border-radius: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Comfortaa", cursive;
}

section {
  height: 100vh;
  width: 100%;
}

.title {
  text-align: center;
  color: #df798a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */