@import "utilities";

//landing intro
#landing {
  display: flex;
  align-items: flex-end;
  .intro {
    font-size: 1.4rem;
    color: color(primary);
    line-height: 1.5;
    margin: $page-margin-mobile;
    position: relative;
    bottom: 5%;
  }
  @include tablet {
    .intro {
      font-size: 4rem;
      margin: $page-margin-tablet;
    }
  }
  @include desktop {
    .intro {
      font-size: 5rem;
    }
  }
}
.contanier {
  footer {
    color: color(primary-lighten);
  }
}
