@import 'utilities';
#playground {
    display: flex;
    flex-direction: column;
    color: color(primary);
    align-items: center;
    padding-top: 4rem;
    h2 {
        font-size:2rem;
        text-transform: uppercase;
    }
}
.sketches {
    font-size: 1rem;
    min-height:100vh;
    width:100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, 16em);
 
    // gap:2rem;
    align-self: center;
    @include tablet {
        width: 80%;  
        grid-template-rows:repeat(auto-fit, minmax(2em,17em));

    }
}
.sketch-wrapper {
    margin:1rem;
    width: 24em;
    height: fit-content;
    position:relative;
    
    transform: scale(.8);
    // border: 2px solid color(primary);
    // border-radius: 1rem;
    @include tablet {
        transform: scale(.6);
    }
    
    .sketch-canvas {
        position: relative;
        overflow: hidden;
        width:100%;
        padding-bottom: 100%;
        margin-bottom: 1em;
        border-radius:1rem;
        z-index: 1;
        box-shadow: 0 0 10px rgba(251, 210, 210, 0.5);
        iframe {
            position: absolute;
            height:130%;
            width:105.5%;
            top: -17.5%;
            left: -2.5%;
            overflow: hidden;
            // filter: hue-rotate(90deg) ;
            z-index: -1;
        }
    }
    .skill-tags{
        font-size:1.2em;
        font-weight: bold;
    }
    .sketch-links {
        position: absolute;
        right:0;
        bottom:0;
        .sketch-link{
        color: color(primary);
        margin: 0 .5em;
        }
    }
}