@import "utilities";
#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $section-padding;
  height: 100%;
  width: 100%;

  .work-wrapper {
    padding: $section-padding;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: $grid-gap;
    .project-box {
      min-width: 45%;
      height: 70vh;
      border-radius: $border;
      padding: 1.5rem;
      background-color: color(primary-lighten);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 80%;
      grid-template-areas:
        "c c . "
        "a a ."
        "e e d";
      align-items: baseline;
      &:hover {
        cursor: pointer;
      }

      .subtitle,
      .skill-tag {
        text-align: left;
      }

      .subtitle {
        grid-area: a;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bolder;
        color: color(sencondary);
      }
      .description {
        grid-area: e;
      }
      .skill-tag {
        grid-area: c;
      }
      .links {
        grid-area: d;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        .live,
        .code {
          text-decoration: none;
          color: color(primary);
        }
      }
    }
  }

  //scrollbar
  /* width */
  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(246, 195, 208);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to right,
      color(primary-lighten),
      color(sencondary)
    );
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  scroll-behavior: smooth;
  scroll-snap-align: center;
}
