#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $section-padding;
  height: 100%;
  width: 100%;

  .work-wrapper {
    padding: $section-padding;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row dense;

    gap: $grid-gap;
    .project-box {
      // width: 100%;
      height: 50ch;
      border-radius: $border;
      background-color: color(primary-lighten);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        ". . ."
        ". a ."
        ". b c";
      &:hover {
        cursor: pointer;
      }

      .subtitle {
        grid-area: a;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        color: color(sencondary);
      }
      .skill-tag {
        grid-area: b;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
    }
  }
}
